@import "../styles/variables.scss";

.wishlist--container {
  width: 20%;

  @media screen and (min-width: $grid-sm) {
    position: sticky;
    top: 95px;
    align-self: flex-start;
  }

  @media screen and (min-width: $grid-sm) and (max-width: $grid-md) {
    width: 30%;
  }

  @media screen and (max-width: $grid-sm) {
    width: 100%;
  }

  .wishlist--body {
    &:not(.is-modal) {
      @media screen and (max-width: $grid-sm) {
        display: none;
      }
    }
  }

  .wishlist--show-button {
    @media screen and (min-width: $grid-sm) {
      display: none;
    }
  }

  .wishlist--header {
    padding: $spacing-xxs 0;
    margin-bottom: $spacing-xs;
  }

  .wishlist--show-button {
    padding: $spacing-lg;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
